{% extends "base.html" %}

{% block title %} {{pro.firstname}} {{pro.lastname}} {% endblock title %}

{% block content %}

  <div class="row">

      {% if pro.firstname and pro.lastname %}
          <div class="col-sm-10"><h1><b> <a href="#"> {{pro.firstname}} {{pro.lastname}}</a> </b></h1></div>
          
      {% else %}
           <div class="col-sm-10"><h1><b> <a href="#"> {{pro.username}}</a> </b></h1></div>
      {% endif %}

      {% if pro.propic %}
        <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{{ pro.propic.url }}" style="width: 140px; height: 140px;"></a></div>
      {% else %}
        <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="/media/generic.png" style="width: 120px; height: 120px;"></a></div>
      {% endif %}

  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3"><!--left col-->
              
      <ul class="list-group">
        <li class="list-group-item text-muted"><b>Profile</b></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{ user.date_joined }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last Seen</strong></span> {{ user.last_login }}</li>
      </ul>      
          
      <ul class="list-group">

        <li class="list-group-item text-muted"><b>{{ pro.username }} Articles</b></li>

        {% for key,value in tag.items %}

          <li class="list-group-item text-right"><span class="pull-left"><strong>{{ key }}</strong></span> {{ value }}</li>

        {% endfor %}
                      
      </ul> 
          
    </div><!--/col-3-->

    <div class="col-sm-9">
          
      <ul class="nav nav-tabs" id="myTab">

        <li class="active"><a href="#home" data-toggle="tab">Recent Articles</a></li>

        {% if himself %}
            <li><a href="#private" data-toggle="tab">Hidden Article</a></li>
            <li><a href="#settings" data-toggle="tab">Edit Profile</a></li>
        {% endif %}

      </ul>
              
      <div class="tab-content">
          <div class="tab-pane active" id="home">
              
            {% for article in articles %}

                <ul class="list-group">

                <li class="list-group-item text-muted"> <h2><a href="{% url 'article' article.id %}">{{ article.title }}</a></h2> </li>

                <li class="list-group-item text-muted"> <em>by <a href="{% url 'profile' article.writer %}">{{ article.writer}}</a></em> </li>

                <li class="list-group-item text-muted"> <span class="pull-right"> {{ article.created }} </span>Category : <a href="{% url 'tag' article.category %}">{{ article.category}}</a> </li>

                <li class="list-group-item text-muted"> <article> {{ article.body|safe|truncatewords_html:20 }} </article> <br /> <a class="btn btn-primary" href="{% url 'article' article.id %}">Read More ...</a> </li>

              </ul>

            {% endfor %}
              
          </div><!--/tab-pane-->
          <div class="tab-pane" id="private">

            {% for article in private %}

                {% for article in private %}

                <ul class="list-group">

                <li class="list-group-item text-muted"> <h2><a href="{% url 'article' article.id %}">{{ article.title }}</a></h2> </li>

                <li class="list-group-item text-muted"> <em>by <a href="{% url 'profile' article.writer %}">{{ article.writer}}</a></em> </li>

                <li class="list-group-item text-muted"> <span class="pull-right"> {{ article.created }} </span>Category : <a href="{% url 'tag' article.category %}">{{ article.category}}</a> </li>

                <li class="list-group-item text-muted"> <article> {{ article.body|safe|truncatewords_html:20 }} </article> <br /> <a class="btn btn-primary" href="{% url 'article' article.id %}">Read More ...</a> </li>

              </ul>

            {% endfor %}


            {% endfor %}

          </div>
            
          <div class="tab-pane" id="settings">
                      
            <hr>

            <form class="form" action="{% url 'edit_profile' pro.username %}" method="post" enctype="multipart/form-data" id="registrationForm"> {% csrf_token %}

                <h2 style="color:#F00" align="center"> N.B. - You Can't Change Your Username.</h2>

                <h3 align="center"><a href="{% url 'change_password' %}"><strong>Change Password</strong></a></h3>

                    <div class="form-group">

                        <div class="col-xs-6">
                          <label for="firstname"><h4>First name</h4></label>
                          <input type="text" class="form-control" name="firstname" id="firstname" placeholder="{{ pro.firstname }}" value="{{ pro.firstname }}" >
                        </div>

                    </div>

                    <div class="form-group">
                          
                        <div class="col-xs-6">
                          <label for="lastname"><h4>Last name</h4></label>
                          <input type="text" class="form-control" name="lastname" id="lastname" placeholder="{{ pro.lastname }}" value="{{ pro.lastname }}" >
                        </div>

                    </div>
          
                    <div class="form-group">
                          
                        <div class="col-xs-6">
                          <label for="email"><h4>Email</h4></label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="{{ pro.email }}" value="{{ pro.email }}" >
                        </div>

                    </div>

                    <div class="form-group">
                          
                        <div class="col-xs-6">
                          <label for="propic"><h4>Change Profile Picture</h4></label>
                          {% if pro.propic %}
                            <input type="file" class="form-control" name="propic" id="propic" value="{{ pro.propic.url }}">
                          {% else %}
                            <input type="file" class="form-control" name="propic" id="propic">
                          {% endif %}
                        </div>

                    </div>


                    <input type="hidden" class="form-control" id="username"  value="{{ pro.username }}" >

                    <br />
                    <div class="form-group">

                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            <button class="btn btn-lg btn-warning" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>

                    </div>

            </form>
          </div>
               
        </div><!--/tab-pane-->
      </div><!--/tab-content-->

    </div><!--/col-9-->

{% endblock content %}