{% extends "base.html" %}

{% block title %}signup_success{% endblock title %}

{% block content %}

    <!-- Successful Signup Message
    ================================================== -->

    <div class="container" style="padding: 10%">
    <hr class="featurette-divider">
    <div class="hero-unit">
    <h2 align="center">
        "Congratulations! You Have Successfully Registered.</br> Login <a href="{% url 'login' %}">here</a>."
    </h2>
    </div>
    </div> <!-- /container -->

{% endblock content %}